body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

#DiceContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.description{
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}

input{
    padding: 5px;
    font-size: 16px;
    width: 50px;
    text-align: right;
}

.DiceResults {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#DiceImages img{
    width: 50px;
    height: 50px;
    margin: 5px
}

.die{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.die img{
    width: 60px;
    margin-top: 5px;
}
